* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}

body {
    background-color: #c9ada7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.panel {
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.pricing-planner {
    border-bottom: 1px solid #f9eae1;
}

.pricing-planner:last-child {
    border-bottom: none;
}

.pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
    height: 150px;
}

.pricing-header {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
}

.pricing-features {
    margin: 50px 0 25px;
    color: #c5ab9e;
}

.pricing-features-item {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    border-top: 1px solid #f9eae1;
}

.pricing-features-item:last-child {
    border-bottom: 1px solid #f9eae1;
}

.pricing-price {
    color: #c5ab9e;
    display: block;
    font-size: 32px;
    font-weight: 700;
}

.pricing-button {
    border: 1px solid #eeddd3;
    border-radius: 10px;
    color: #b98b73;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transition: background-color 200ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
    background-color: #eeddd3;


}

.pricing-button.is-featured {
    background-color: #c9ada7;
    color: white;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:focus {
    background-color: #d0b8ac;
    color: white;
}

@media (min-width: 900px) {
    .panel {
        flex-direction: row;
    }

    .pricing-planner {
        border-bottom: none;
        border-right: 1px solid #eeddd3;
        padding: 25px 50px;
    }

    .pricing-planner:last-child {
        border-right: none;
    }
}